[Unit]
Description=AstraBot THOR File Transfer
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
Type=simple
Nice=10
User=astrabot
WorkingDirectory=/opt/ros/start_up/run
ExecStart=/opt/ros/start_up/run/Astrabot_File_Transfer.sh
Restart=always
RestartSec=3
KillSignal=SIGINT
KillMode=control-group
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
